*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(73,164,251);
background: linear-gradient(75deg, rgba(73,164,251,1) 0%, rgba(70,85,85,1) 100%);

}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
  }

header{
    background-color: #2b3e50;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
#main{
    height: 100%;
    margin-top: 40px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.search-section{
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.search-section h2{
    margin-bottom: 1rem;
}

.search-section form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.search-section input, .search-section button{
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-section button{
    background-color: #0686ff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}

.search-section button:hover{
    background-color: #5100ff;
}

.timetable-section{
    padding: 2rem;
    text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;

}
th,td{
    padding: 1rem;
    border: 1px solid #ccc;
}
th{
    background-color: #2b3e50;
    color: #fff;
}

footer{
    margin-top: auto;
    background-color: #2b3e50;
    color: #fff;
    text-align: center;
    padding: 1rem;
}


/* ++++++++++++++++++++++ Timing CSS ++++++++++++++++++++++ */

.parent{
    /* display: none; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.8);
    width: 300px;
    padding: 20px 10px;
    color: white;
    border-radius: 10px;
}
.child{
    padding-left: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dotted white;
}
.child-span{
    padding-left: 20px;
}
i{
    color: rgb(255, 60, 76);
}
#min{
    display: flex;
    justify-content: flex-end;
}
#minbtn{
    cursor: pointer;
    background-color: rgb(255, 60, 76);
    text-align: center;
    padding:0px 5px;
    border-radius: 50%;

}